table {
    width: 100%;
}

th, .mat-header-cell {
    color: #3f51b5;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.mat-cell .mat-column.description {
    font-style: italic;
}

td {
    text-align: center;
    cursor: pointer;
}

mat-button-toggle-group {
    border: solid;
    border-width: 1.5px;
}

mat-button-toggle {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.poison {
    background-color: #9d6b90;
}

.grass {
    background-color: #7DB065;
}

.fire {
    background-color: #E76250;
}

.flying {
    background-color: #699CC9;
}

.water {
    background-color: #6498E5;
}

.bug {
    background-color: #acb14b;
}

.normal {
    background-color: #a9aaa1;
}

.electric {
    background-color: #E3C063;
}

.ground {
    background-color: #ceb267;
}

.fairy {
    background-color: #dba6d7;
}

.fighting {
    background-color: #ac674e;
}

.psychic {
    background-color: #e972a2;
}

.rock {
    background-color: #b6a771;
}

.steel {
    background-color: #adacb9;
}

.ice {
    background-color: #7cc9e9;
}

.dragon {
    background-color: #827bde;
}

.ghost {
    background-color: #7179b9;
}

.dark {
    background-color: #886b54;
}
