<div *ngIf="team" style="margin: 8px">
  <h4 style="text-align: center">Mon équipe pokémon</h4>
  <mat-grid-list [cols]="cols">
    <mat-grid-tile *ngFor="let pokemon of team" style="border:solid; border-width: 1px">
      <div *ngIf="pokemon">
        <img [src]="pokemon.sprite" alt="loading">
          <button (click)="removePokemon(pokemon)" class="removeBtn" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>