.description {
    font-size: 14px;
    font-style: italic;
    text-align: justify;
}

span {
    font-size: 13px;
}

h3 {
    margin: 0;
}


.poison {
    color: #9d6b90;
}

.grass {
    color: #7DB065;
}

.fire {
    color: #E76250;
}

.flying {
    color: #699CC9;
}

.water {
    color: #6498E5;
}

.bug {
    color: #acb14b;
}

.normal {
    color: #a9aaa1;
}

.electric {
    color: #E3C063;
}

.ground {
    color: #ceb267;
}

.fairy {
    color: #dba6d7;
}

.fighting {
    color: #ac674e;
}

.psychic {
    color: #e972a2;
}

.rock {
    color: #b6a771;
}

.steel {
    color: #adacb9;
}

.ice {
    color: #7cc9e9;
}

.dragon {
    color: #827bde;
}

.ghost {
    color: #7179b9;
}

.dark {
    color: #886b54;
}