.pokemonPicture {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 55px;
    width: 55px;
    padding: 5px;
    margin-left: 5px;
    border-radius: 50%;
    border:solid;
    border-width: 0.75px;
    background: rgba(234, 207, 152, .1);
}

mat-card-header {
    width: 100%;
}

mat-card-content {
    margin-top: 8px;
    margin-bottom: 8px;
}

#pokemonHeaderContent {
    margin-left: 45px;
    margin-right: 10px;
    width: 100%;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.type {
    font-size: 14px;
}

.pkmnDescription {
    font-style: italic;
    font-size: 14px;
    text-align: justify;
}

button.mat-icon-button.addBtn {
    position: absolute;
    top: auto;
    right: 10px;
}

mat-card-actions {
    text-align: center;
    margin: 0;

    > button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

mat-card-content {
    padding: 8px;
}