mat-form-field {
    margin: 10px;
    width: 100%;
}

mat-select {
    width: 100%;
}

#pokedexDescription {
    padding: 5px;
}

mat-icon:first-child {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 10px;
    cursor: help;
}