<div (window:resize)="onResize($event)">
  <!-- Organizer view on desktop -->
  <div *ngIf="userType === 1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
    <div fxFlex="33%" fxLayout="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <h1>Video component here...</h1>
      </div>
      <div fxFlex="50%">
        <app-pokemons-tournament-stats *ngIf="selectedPokemon" [pokemonModel]="selectedPokemon"></app-pokemons-tournament-stats>
      </div>
    </div>
    <div fxFlex="77%" style="padding: 25px">
      <app-pokemons-visualizer (pokemonSelectedByUser)="updateSelectedPokemon($event)"></app-pokemons-visualizer>
    </div>
  </div>
  <!-- End of organizer view -->
  <div *ngIf="userType === 0">

    <!-- Player view on tablet (ex: iPad) -->
    <div *ngIf="deviceUsed === 1" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div fxFlex="33%" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50%" style="background-color: purple">
          <h1>Player's team component here...</h1>
        </div>
        <div fxFlex="50%" style="background-color: orange">
          <h1>Details sur <span *ngIf="selectedPokemon">{{ selectedPokemon.getName('fr') }}</span></h1>
        </div>
      </div>
      <div fxFlex="77%" style="padding: 12px;">
        <app-pokemons-visualizer (pokemonSelectedByUser)="updateSelectedPokemon($event)"></app-pokemons-visualizer>
      </div>
    </div>
    <!-- End of player view (tablet) -->

    <!-- Player view on smartphone (ex: iPhone X) -->
    <div *ngIf="deviceUsed === 2" fxLayout="column" fxLayoutAlign="start stretch">
      <div fxFlex="33%" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="35%" style="background-color: purple">
          <h1>Player's team component here...</h1>
        </div>
        <div fxFlex="75%" style="background-color: orange">
          <h1>Details sur <span *ngIf="selectedPokemon">{{ selectedPokemon.getName('fr') }}</span></h1>
        </div>
      </div>
      <div fxFlex="77%" style="padding: 5px;">
        <app-pokemons-visualizer (pokemonSelectedByUser)="updateSelectedPokemon($event)"></app-pokemons-visualizer>
      </div>
    </div>
    <!-- End of player view (smartphone) -->

  </div>
</div>