<div (window:resize)="onResize($event)">
  <!-- Organizer view on desktop -->
  <div *ngIf="userType === 1" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px" style="padding: 25px;">
    <div fxFlex="33%" fxLayout="column" fxLayoutGap="10px">
      <div fxFlex="50%">
        <video style="border:solid; border-width:1px" width="100%" controls>
          <source src="assets/pokemon-lets-go-pikachu-and-pokemon-lets-go-eevee-trailer.mp4" type="video/mp4">
          Your browser does not support HTML5 video.
        </video>
      </div>
      <div fxFlex="50%">
        <app-tournament-visitors-chart></app-tournament-visitors-chart>
        <br>
        <app-pokemons-tournament-stats *ngIf="selectedPokemon" [pokemonModel]="selectedPokemon"></app-pokemons-tournament-stats>
      </div>
    </div>
    <div fxFlex="77%" style="padding: 25px">
      <app-pokemons-visualizer (pokemonSelectedByUser)="updateSelectedPokemon($event)"></app-pokemons-visualizer>
    </div>
  </div>
  <!-- End of organizer view -->
  <div *ngIf="userType === 0">

    <!-- Player view on tablet (ex: iPad) -->
    <div *ngIf="deviceUsed === 1" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div fxFlex="33%" fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="35%">
          <app-pokemon-team [pokemon]="pokemonToAdd"></app-pokemon-team>
        </div>
        <div fxFlex="75%">
          <div style="padding: 8px;">
            <app-pokemon-details *ngIf="selectedPokemon" (addPokemonToTeam)="updatePokemonToBeAdded($event)" [pokemon]="selectedPokemon"></app-pokemon-details>
          </div>
        </div>
      </div>
      <div fxFlex="77%" style="padding: 12px;">
        <app-pokemons-visualizer (pokemonThatHasToBeAddedInTeam)="updatePokemonToBeAdded($event)"
          (pokemonSelectedByUser)="updateSelectedPokemon($event)"></app-pokemons-visualizer>
      </div>
    </div>
    <!-- End of player view (tablet) -->

    <!-- Player view on smartphone (ex: iPhone X) -->
    <div *ngIf="deviceUsed === 2" fxLayout="column" fxLayoutAlign="start stretch">
      <app-pokemon-team [pokemon]="pokemonToAdd"></app-pokemon-team>
      <app-pokemons-visualizer (pokemonThatHasToBeAddedInTeam)="updatePokemonToBeAdded($event)" (pokemonSelectedByUser)="updateSelectedPokemon($event)"></app-pokemons-visualizer>
    </div>
    <!-- End of player view (smartphone) -->

  </div>
</div>