<!--<div fxLayout='row' fxLayoutAlign='start center' fxLayout.lt-md='column' fxLayoutGap='20px'>
    <div fxFlex='1 1 33%'>
        <app-pokedex [pokedex]="pokedexes[0]" ></app-pokedex>
    </div>
    <div fxFlex='1 1 33%'>
        <app-pokedex [pokedex]="pokedexes[1]" ></app-pokedex>
    </div>
    <div fxFlex='1 1 33%'>
        <app-pokedex [pokedex]="pokedexes[2]" ></app-pokedex>
    </div>
</div>-->

<div>
    <mat-grid-list [cols]="cols" rowHeight="1:1" gutterSize="5px">
            <mat-grid-tile *ngFor="let pokedex of pokedexes">
                <app-pokedex [pokedex]="pokedex" ></app-pokedex>
            </mat-grid-tile>
    </mat-grid-list>
</div>
